@page
@model IndexModel;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if(ViewData.ContainsKey("error"))
{
    <div class="alert-danger">@ViewData["error"]</div>
}
@if (ViewData.ContainsKey("success"))
{
    <div class="alert-success">@ViewData["success"]</div>
}

<form method="post" asp-action="OnPost">
    <input type="text" asp-for="Customer!.Name" />
    <input type="submit" class="submit-button" />
</form>
